<!-- /* productlist.html */ -->
<div class="cmp-productlist"
    data-sly-use.productList="com.adobe.aem.guides.wknd.core.models.ProductList">
    <div class="cmp-productlist__title"
         data-sly-test="${productList.title}">
        ${productList.title}
    </div>
    <!--/*    TODO remove the following label, it's for debug purpose  */-->
    <div data-sly-list.child="${productList.products}">
        <div class="cmp-productlist__product">
            <div class="cmp-productlist__product-title">${child.title}</div>
            <div class="cmp-productlist__product-price">${child.price}</div>
        </div>
    </div>
</div>
